<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">resume</a></li>
        		<li><a href="/blog">projects</a></li>
    		</ul>
		</nav>
		<div class="container">
		{{content}}
    		<div class="blurb">
		<footer>
    		<ul>
        		<li><a href="mailto:ww.chris@outlook.com">email</a></li>
        		<li><a href="https://github.com/chris-ww">github.com/chris-ww</a></li>
			</ul>
		</footer>
	</body>
</html>